/* .background {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url("/background6.png");
  background-size: cover;
  background-position: center;
  z-index: -100;
} */